
.App{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.AppHeader{
  display: flex;
  flex-direction: column;
  padding: 80px 100px 123px 100px;
  gap: 16px;
  transform: scale(0.75);
  border-radius: 20px;
  background: #F9F9F9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

}
.firstPart{
  display: flex;
  margin-bottom: 32px;
}
.secondPart{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 414px;
  gap: 30px;
  margin-bottom: 109px;
}
.thirdPart{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  margin-bottom: 119px;
}
.logo{
  width: 530px;
  height: 525px;
  margin: 97.5px 0;
  transform: scale(0.75);
}
.Divider{
  width: 440px;
}
.button{
  height: 48px;
  width: 244px;
  border-radius: 20px;
  /*background: rgba(var(--semi-grey-1), 0.15);*/
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}