.Page{
  /*padding: 180px 235px 180px 175px;*/
  /*margin: 10vw 15vw;*/
}
.App{
  display: flex;
  justify-content: space-between;
  padding: 0 235px 0 175px;
  align-items: center;


}
.AppHeader{
  display: flex;
  flex-direction: column;
  padding: 80px 100px 123px 100px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10), 0px 0px 1px 0px rgba(0, 0, 0, 0.30);
  gap: 16px;
  transform: scale(0.75);
}
.firstPart{
  display: flex;
  margin-bottom: 32px;

}
.secondPart{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 414px;
  gap: 30px;
  margin-bottom: 109px;
}
.thirdPart{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  margin-bottom: 119px;
}
.logo{
  width: 530px;
  height: 525px;
  margin: 97.5px 0;
  transform: scale(0.75);
}
.Divider{
  width: 440px;
}